@charset "UTF-8";
/* Raiz do Projeto que sera Reusado no resto do css */
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-confirm: #000000;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: .5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.hidden {
  display: none !important;
}

i {
  cursor: pointer;
}

.mdi {
  cursor: pointer;
  display: flex;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Cabeçalho Lateral */
header {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 75px;
  height: inherit;
  left: 0;
  font-size: 0.875rem;
  letter-spacing: 2px;
  word-spacing: 4px;
  white-space: nowrap;
}
header .upper {
  display: flex;
  position: relative;
  transform: rotate(-90deg) translateX(-100px);
}
header .upper::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 120px;
  height: 1px;
  margin-left: 0rem;
  background: #1a1a1a;
}
header .lower {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translateX(85px);
}
header .lower svg {
  width: 25px;
}
header .lower a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  margin: 0 0 4px 10px;
}

/* Main */
main {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 72vh;
  overflow-y: auto;
  justify-content: space-evenly;
}

/* Triangulo */
#triangulo {
  position: absolute;
  z-index: -5;
  margin-left: 38vw;
}
#triangulo .center-triangle {
  width: 300px;
  position: absolute;
}
#triangulo .center-triangle .triangle {
  fill: #fff;
  stroke: #000000;
  stroke-width: 1;
}
#triangulo .center-triangle .triangle-shadow {
  mix-blend-mode: multiply;
  opacity: 0.75;
  transition: 200ms;
}

/* Items da To do List */
.item {
  display: flex;
  background: #ffffff;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 2rem 0rem;
  border-radius: var(--size-radius);
  border: 3px solid var(--color-dark);
  box-shadow: 0.5rem 0.5rem 0 #000000;
  margin: calc(var(--size-bezel) * 3);
  width: 27vw;
}

.item.clicado {
  background: rgba(141, 255, 176, 0.62);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.item.clicado .item-nome {
  text-decoration: line-through;
}

.item-icone {
  font-size: 2rem;
  margin-left: 2rem;
}

.item-nome {
  margin: auto;
  width: 31rem;
}

.item-botao {
  margin: auto;
  display: contents;
}

h1, h2, h3 {
  font-weight: 900;
  margin-bottom: 1rem;
}

h4 {
  margin-bottom: 4px;
}

/* Card do input principal */
.card {
  background: var(--color-light);
  padding: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-dark);
  box-shadow: 0.5rem 0.5rem 0 var(--color-dark);
  margin: calc(var(--size-bezel) * 3);
  width: 50vw;
  margin-left: 23vw;
  position: relative;
}

.l-design-widht {
  max-width: 40rem;
  padding: 1rem;
}

.input {
  position: relative;
}
.input-label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-light);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
  font-weight: bold;
}
.input-field:not(:-moz-placeholder-shown) + .input-label {
  transform: translate(0.25rem, -66%) scale(0.7);
  color: var(--color-confirm);
}
.input-field:not(:-ms-input-placeholder) + .input-label {
  transform: translate(0.25rem, -66%) scale(0.7);
  color: var(--color-confirm);
}
.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label {
  transform: translate(0.25rem, -66%) scale(0.7);
  color: var(--color-confirm);
}

#form-search {
  display: flex;
}

#input-search {
  padding: 5px;
}

#span-search {
  padding: 0;
  font-size: 14px;
  margin: 7px;
}

#erase-button {
  margin-left: 5px;
  height: 31px;
}

button {
  color: var(--color-light);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-confirm);
  border: none;
  border-radius: var(--size-radius);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 900;
  cursor: pointer;
}
button#adicionar {
  height: 32px;
}

button + button {
  margin-left: calc(var(--size-bezel) * 2);
}

#editform {
  width: 24rem;
}

#input-edit {
  margin-bottom: 1rem;
}

#toolbar {
  display: flex;
  align-items: center;
}

#search {
  margin-left: 8rem;
  margin-top: 1.5rem;
}

#filter {
  margin-left: 5rem;
  margin-top: 1.5rem;
}

#filter-select {
  padding: 0;
}

#cancel-edit-back {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
}/*# sourceMappingURL=style.css.map */